{% extends 'uibase.html' %}
{% block title %}修改用户密码{% endblock title %}

{% block content %}
    <div class="hold-transition register-page">
        <div class="register-box">
            <div class="card">
                <div class="card-body register-card-body">
                    <p class="register-box-msg text-orange text-bold">{% if msg %}{{ msg }}{% endif %}</p>
                    <form action="{% url 'changepassword' %}" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="input-group mb-3">
                            {{ form.old_password }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form.new_password }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-block">提交修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
