{% extends 'uibase.html' %}
{% block title %}Windows客户端使用教程{% endblock title %}

{% load static %}

{% block content %}
    <section class="content p-3 pt-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Windows客户端使用教程</h3>
            </div>
            <div class="card-body">
                <div class="border-bottom mb-2 pb-2">
                    <p>
                        第<b>1</b>步：下载和解压{{ clients.windows.client_name }}客户端
                        <br>
                        <a href="{% static 'clients/' %}{{ clients.windows.file_name }}" class="btn bg-primary btn-sm mt-3">
                            下载 {{ clients.windows.client_name }} {{ clients.windows.version }}</a>
                    </p>
                </div>
                <div class="border-bottom mt-2 pt-2 mb-2 pb-2">
                    <p>
                        第<b>2</b>步：根据教程视频配置{{ clients.windows.client_name }}客户端并导入服务器信息： </p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls>
                            <source src="{% static 'videos/windows-tutorial.mp4' %}" type="video/mp4">
                            您的浏览器不支持播放教程视频，请更换浏览器试试。
                        </video>
                    </div>
                </div>
                <div class="mt-4 pt-3 mb-2 pb-3">
                    <p>
                        <b>额外设置</b>：在可以正常上网之后，如果出现有些网站能访问，但某些网站不能访问或访问很慢；一般是你电脑所连接网络的DNS屏蔽了一些域名的解析。可以通过增加v2rayN的“自定义DNS”来解决；（注：正常情况下无需添加这些DNS）。添加方法是：打开v2rayN程序界面
                        -> 点击“参数设置”图标进入到v2rayN的设置界面 -> 在“自定义DNS”输入框中输入以下DNS地址 -> 点击确定保存配置： </p>
                    <p>
                        <span>DNS地址：</span><span class="text-muted">114.114.114.114,223.5.5.5,8.8.8.8</span>
                    </p>
                    <p>示例截图：</p>
                    <img src="{% static 'images/windows-setting.png' %}" class="img-thumbnail">
                    <br>
                    <br>
                    <img src="{% static 'images/windows-dns-setting.png' %}" class="img-thumbnail">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
